{{ define "main" }}
<h1>{{ .Title }}</h1>
<div class="single">
  <div class="about">
    <div class="aboutImg">
      <img src="/images/myself.jpg" alt="halo" />
      <figcaption>My portrait</figcaption>
    </div>
    <div class="singlePage">
      <div class="singlePageContent">{{ .Content }}</div>
    </div>
  </div>
  <hr class="dividerAbout" />
  <div class="aboutWebsite">
    <h4>Note:</h4>
    <p>
      If you find any errors on this website, please report them through my
      email or X, or open an issue on Github
    </p>
    <p>I appreciate any help in making this website better.</p>

    <h4>Language</h4>
    <p>
      This website is primarily written in English, but I also write articles in
      Indonesian (Bahasa Indonesia).
    </p>
  </div>
</div>
{{ end }}
