{{ define "main" }}
<div class="content-wrapper">
  <h1>{{ .Title }}</h1>
  <p class="page-description">Books, papers, and articles I'm reading or have read. Inspired by my love for learning and documenting everything (thanks, Sheldon!).</p>

  <div class="bookshelf-grid">
    {{ range .Params.books }}
    <div class="book-card status-{{ .status }}">
      <div class="book-icon">{{ .icon }}</div>
      <h3>{{ .title }}</h3>
      <p class="book-author">{{ .author }}</p>
      <span class="book-status">{{- if eq .status "reading" -}}
          Currently Reading
        {{- else if eq .status "finished" -}}
          Finished
        {{- else if eq .status "want" -}}
          Want to Read
        {{- else -}}
          {{ .status }}
        {{- end -}}</span>
      <p class="book-note">{{ .note }}</p>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
