{{ define "main" }}
<h1>{{ .Title }}</h1>
<div class="list">
  {{ range .Paginator.Pages }}
  <div class="listItem">
    <div class="listItemTexts">
      <h2 class="listItemTitle">
        <a href="{{.Permalink}}">{{ .Title }}</a>
      </h2>
      <p class="listItemDesc">{{.Params.description}}</p>
      <div class="listItemDetail">
        <time>{{dateFormat .Site.Params.dateFormat .Date}}</time>
      </div>
    </div>
  </div>
  {{/*
  <hr />
  */}} {{ end }} {{ template "_internal/pagination.html" . }}
</div>
{{ end }}
