{{ define "main"}}
<div class="list">
  {{ range .Paginator.Pages }}
  <div class="listItem">
    {{/* {{ $randomNumber := math.Ceil (mul (math.Rand) 5) }} {{ $imagePath :=
    printf "/images/background_%.0f.jpg" $randomNumber }} {{ .Scratch.Set
    "imagePath" $imagePath }}
    <img
      src="{{ $imagePath }}"
      alt="{{.Title}}"
      class="listItemImage"
      loading="lazy"
    />
    */}}
    <div class="listItemTexts">
      <h2 class="listItemTitle">
        <a href="{{.Permalink}}">{{ .Title }}</a>
      </h2>
      <p class="listItemDesc">{{.Params.description}}</p>
      <div class="listItemDetail">
        <time>{{dateFormat .Site.Params.dateFormat .Date}}</time>
      </div>
      <div class="listItemCategories">
        {{range (.GetTerms "categories")}}
        <a href="{{.Permalink}}" class="listItemCategory">{{.Name}}</a> {{end}}
      </div>
    </div>
  </div>

  <hr />
  {{ end }} {{template "_internal/pagination.html" .}}
</div>
{{ end }}
