{{ define "main" }}
<div class="single">
  <div class="singleHead">
    <div class="singleHeadText">
      <h1 class="singleHeadTitle">{{.Title}}</h1>
      {{ with .Params.description }}
      <p class="singleHeadDesc">{{ . }}</p>
      {{ end }}
      <div class="singleHeadTimes">
        {{/*
        <time>Created: {{dateFormat .Site.Params.dateFormat .Date}}</time> */}}
        {{ if ne .Lastmod .Date }}
        <time
          >Last updated: {{dateFormat .Site.Params.dateFormat .Lastmod}}</time
        >
        {{ end }}
      </div>
      <div class="singleHeadDetail">
        {{range (.GetTerms "categories")}}
        <a href="{{.Permalink}}" class="singleCategory">{{.Name}}</a>
        {{end}}
      </div>
    </div>
  </div>
  <div class="singleBottom">
    <div class="singleContent">{{.Content}}</div>

    {{ with .Params.mediumLink }} {{ $link := partial "sanitize-link.html" . }}
    <div class="mediumNote" style="margin-top: 2rem; font-style: italic">
      This article is also uploaded on Medium. Please check
      <a href="{{ $link }}" target="_blank" rel="noopener">this link</a>.
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
